<app-header></app-header>

<br>
<br>
<br>

<div class="col-md-12 justify-content-center">
     <h1>Usuarios Registrados</h1>  
</div>

<div class="col-md-12 justify-content-center">    

  <table class="table table-responsive-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Role</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of usuarios">
        <td>{{data.nombre}}</td>
        <td>{{data.apellido}}</td>
        <td>{{data.email}}</td>
        <td>{{data.role}}</td>
        <td>{{data.created_at}}</td>
        <td>
            <button value="{{data.id}}" class="btn btn-xs btn-info fa fa-search-plus" (click)="ver(data.id)">
                <!-- <span class="btn btn-xs btn-info fa fa-search-plus"></span> -->
            </button>
            
            <button value="{{data.id}}" class="btn btn-xs btn-success fa fa-edit" (click)="editar(data.id)">
                <!-- <span class="btn btn-xs btn-success fa fa-edit"></span> -->
            </button>
            <button value="{{data.id}}" class="btn btn-xs btn-danger fa fa-trash" (click)="eliminar(data.id)">
              <!-- <span class="btn btn-xs btn-danger fa fa-trash"></span>               -->
            </button>
            
        </td>       
      </tr>         
    </tbody>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
  </table>

</div>

