<app-header></app-header>

<br>
<br>
<br>

<div class="col-md-12 justify-content-center">
     <h1>Info Usuario</h1>  
</div>

<div class="col-md-12 justify-content-center">    

  <table class="table table-responsive-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Role</th>
        <th>Fecha</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of usuarios">
        <td>{{data.nombre}}</td>
        <td>{{data.apellido}}</td>
        <td>{{data.email}}</td>
        <td>{{data.role}}</td>
        <td>{{data.created_at}}</td>             
      </tr>         
    </tbody>
    
  </table>

</div>

